body{
margin:0;
font-family:Segoe UI;
background:#f5f7fb;
}

/* LAYOUT */

.layout{
display:flex;
height:100vh;
}

/* SIDEBAR */

.sidebar{

width:250px;
background:white;

box-shadow:0 0 20px rgba(0,0,0,0.1);

padding:20px;

transition:0.3s;

border-top-right-radius:20px;
border-bottom-right-radius:20px;

}

.sidebar.collapsed{
width:70px;
}

.logo{

font-size:22px;
font-weight:bold;
margin-bottom:20px;

}

.toggle{

position:absolute;
left:220px;
top:20px;

border:none;
background:white;

box-shadow:0 2px 8px rgba(0,0,0,0.2);

border-radius:10px;

cursor:pointer;

padding:8px 10px;

}

.sidebar.collapsed .toggle{
left:40px;
}

.menu h4{
margin-top:20px;
color:#888;
}

/* BUTTON */

.sidebar button{

display:block;

width:auto;

padding:8px 14px;

margin-top:8px;

border:none;

border-radius:10px;

background:#f1f3f7;

cursor:pointer;

transition:0.2s;

font-weight:500;

font-size:14px;

text-align:left;

}

.sidebar button:hover{

background:#e2e6ef;

transform:translateX(4px);

box-shadow:0 3px 8px rgba(0,0,0,0.1);

}

/* CONTENT */

.content{

flex:1;

padding:40px;

overflow:auto;

}

/* HOME */

.home{

text-align:center;

}

.title{

font-size:55px;

font-weight:bold;

color:#333;

margin-top:20px;

}

.cloud-frame{

margin-top:40px;

border-radius:25px;

padding:20px;

background:white;

box-shadow:0 10px 30px rgba(0,0,0,0.1);

display:inline-block;

}

.cloud-frame img{

max-width:100%;

border-radius:20px;

}

/* TABLE */

.search{

margin-bottom:15px;

padding:10px;

width:250px;

border-radius:10px;

border:1px solid #ccc;

}

table{

border-collapse:collapse;

width:500px;

background:white;

border-radius:15px;

overflow:hidden;

box-shadow:0 5px 20px rgba(0,0,0,0.08);

}

th,td{

padding:12px;

border-bottom:1px solid #eee;

text-align:left;

}

th{

background:#f5f7fb;

}

/* MOBILE */

@media(max-width:800px){

.sidebar{

position:fixed;
z-index:100;

}

.content{
margin-left:70px;
}

}